// basic
.basic_wrap {
    width: 100%;
    font-size: 14px;

    .avator_wrap {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        .Avatar {
            width: 100px;
            height: 100px;
            border-radius: 100% 100%;
            margin-right: 40px;
        }
    }

    .nick_wrap {
        width: 100%;
        margin-bottom: 50px;
        display: flex;
        align-items: center;

        .nickName {
            width: 55px;
        }
    }
}


//changePsw
.changePsw_wrap {
    .w250 {
        width: 250px;
    }
}

.user_wrap {
    width: 100%;

    .search_wrap {
        display: flex;

        .search_input {
            width: 220px;
            margin-right: 25px;
        }
    }

    .avator {
        width: 30px;
        height: 30px;
        border-radius: 100% 100%;
    }

    .table {
        margin-top: 20px;
    }
}