.me_wrap {
    font-size: 0.16rem;

    .top_title {
        height: 55px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        font-size: 0.16rem;
        margin-bottom: 0.12rem;
    }

    .login_info {
        display: flex;
        background-color: #fff;
        margin-bottom: 0.12rem;
        padding: 0.12rem;
        position: relative;
        cursor: pointer;

        .Avatar {
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 100% 100%;
            margin-right: 0.18rem;
        }

        &:after {
            content: '';
            display: inline-block;
            width: 7px;
            height: 7px;
            border-top: 2px solid #ddd;
            border-right: 2px solid #ddd;
            transform: rotate(45deg);
            position: absolute;
            right: 0.12rem;
            top: 0.26rem;
        }
    }

    .setting_list {
        margin-bottom: 0.12rem;
        background-color: #fff;
        font-size: 0.14rem;

        .setting_list_li {
            position: relative;
            padding: 0.12rem;
            border-bottom: 1px solid #ddd;
            cursor: pointer;

            &:after {
                content: '';
                display: inline-block;
                width: 7px;
                height: 7px;
                border-top: 2px solid #ddd;
                border-right: 2px solid #ddd;
                transform: rotate(45deg);
                position: absolute;
                right: 0.12rem;
                top: 0.26rem;
            }

            .icon {
                // width: 0.2rem;
                // height: 0.2rem;
                font-size: 0.14rem;
                margin-right: 0.12rem;
            }
        }
    }

    .logout {
        color: red;
        font-size: 0.14rem;
        padding: 0.12rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        cursor: pointer;
    }
}