    .setting_wrap {
        background-color: #fff;
        min-height: 100vh;
        padding-top: 75px;

        .content {
            width: 64.28vw;
            padding-top: 90px;
            margin: 0 auto;
            display: flex;

            .side_bar_wrap {
                width: 200px;
                margin-right: 50px;

                .list-item-active {
                    background-color: #d8e6df;
                    color: #1DA57A;
                }
            }
        }
    }

    @media screen and (max-width: 450px) {
        .setting_wrap {
            padding-top: 0.45rem;

            .content {
                padding-top: 0.45rem;

            }
        }
    }