.home_wrap {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 16px;
  padding-top: 55px;
  background-color: #eee;

  .home_content {
    width: 62.5vw;
    margin: 75px auto 0 auto;

    .Avatar {
      width: 60px;
      height: 60px;
      border-radius: 100% 100%;
    }

    .title {
      display: flex;
      background-color: #fff;
      font-family: Georgia, Times New Roman, Times, Songti SC, serif;
      padding: 20px 0 0 20px;
      margin-bottom: 10px;

      .rightTitle {
        margin-left: 20px;

        .name {
          font-size: 30px;
          margin-bottom: 5px;
        }
      }
    }

    .list_item {
      background-color: #fff;
      display: flex;
      border-bottom: 1px solid #ddd;
      padding: 25px 50px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      transition: all 0.3s linear;

      &:hover {
        transform: translateY(-3px);

        .img_wrap {
          .img {
            filter: brightness(120%);
            transform: scale(1.1);
          }
        }
      }

      .title {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .title {
        font-size: 24px;
      }

      .img_wrap {
        width: 250px;
        height: 150px;
        // border-radius: 10px;
        margin-left: 50px;
        cursor: pointer;
        overflow: hidden;

        .img {
          width: 250px;
          height: 150px;
          border: none;
          // border-radius: 10px;
          transition: all 2s linear;
          overflow: hidden;
        }

      }

      .list_item_left {
        width: 600px;

        .desc {
          margin-top: 14px;
          color: #999;

          span {
            padding-right: 20px;
          }

          .icon {
            margin-right: 5px;
            color: #999;

            &.active {
              color: #f78585;
            }
          }

          .viewCount {
            cursor: pointer;
            color: #1DA57A;

            &.thumbs {
              color: #f78585;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 450px) {
  .home_wrap {
    font-size: 0.14rem;
    overflow: hidden;
    padding-bottom: 0.6rem;

    .home_content {
      width: 100%;
      margin-top: 0rem;

      .Avatar {
        width: 0.60rem;
        height: 0.60rem;
      }

      .list_item {
        padding: 0rem 0 0 0;

        .title {
          font-size: 0.22rem;
          padding: 0;
        }

        .img {
          width: 1.3rem;
          height: 0.8rem;
          margin-left: 0.2rem;
        }

        .list_item_left {
          width: 100%;
          padding: 0.1rem 0.1rem;

          .desc {
            margin-top: 0.14rem;

            span {
              padding-right: 0.14rem;
            }
          }
        }
      }
    }
  }
}