.article_content_wrap {
    background-color: #fff;
    width: 62.5vw;
    margin: 125px auto 0 auto;
    font-family: Georgia, Times New Roman, Times, Songti SC, serif;
    font-size: 18px;

    .article_content {
        padding: 40px 30px;
        position: relative;


        .fixed_left {
            position: absolute;
            left: -50px;
            top: 100px;
            z-index: 2000;

            .viewCount {
                width: 35px;
                height: 35px;
                border-radius: 100% 100%;
                background-color: #fff;
                margin-bottom: 20px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                .count {
                    font-size: 16px;
                    position: absolute;
                    right: 2px;
                    top: -7px;
                }
            }

            .icon {
                margin-right: 5px;
                color: #999;

                &.active {
                    color: #f78585;
                }
            }

            .viewCount {
                cursor: pointer;
                color: #1da57a;

                &.thumbs {
                    color: #f78585;
                }
            }
        }

        .title {
            font-size: 30px;
            font-weight: 700;
            color: #404040;
            text-align: center;
            margin-bottom: 20px;
        }

        .desc {
            color: #969696;
            font-size: 13px;
            text-align: center;
            margin-bottom: 20px;

            span {
                padding-right: 20px;
            }

            // .author {
            //     padding-right: 20px;
            // }
        }
    }

    .border {
        height: 16px;
        background-color: #eee;
    }
}

@media screen and (max-width: 450px) {
    .article_content_wrap {
        overflow: scroll;
        width: 100%;
        height: 100vh;
        margin-top: 0rem;
        padding-top: 0.45rem;
        padding-bottom: 0.4rem;

        .top_back {
            position: fixed;
            width: 100vw;
            height: 0.45rem;
            line-height: 0.45rem;
            background-color: #eee;
            top: 0;
            left: 0;
            text-align: center;
            z-index: 2;

            .icon_back {
                position: absolute;
                left: 0.2rem;
                top: 0.18rem;
                cursor: pointer;
            }
        }

        .article_content {
            padding: 0.1rem 0.1rem;

            .title {
                font-size: 0.24rem;
                margin-bottom: 0.1rem;
            }

            .desc {
                font-size: 0.16rem;
                margin-bottom: 0.2rem;

                span {
                    padding-right: 0.1rem;
                }

                // .author {
                //     padding-right: 0.1rem;
                // }
            }
        }

        .bottom_comment {
            background: #eee;
            position: fixed;
            height: 0.45rem;
            left: 0;
            bottom: 0;
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0.15rem;

            .comment_input {
                width: 50%;
            }

            span {
                margin-right: 0.12rem;
            }

            .icon {
                margin-right: 5px;
                color: #999;

                &.active {
                    color: #f78585;
                }
            }

            .viewCount {
                cursor: pointer;
                color: #1da57a;

                &.thumbs {
                    color: #f78585;
                }
            }
        }
    }

    // issueComment
    .issue_comment_wrap {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100vw;
        height: 100vh;
        background: #fff;
        font-size: 0.16rem;
        transition: all 0.3s linear;

        .top_title {
            padding: 0 0.16rem;
            height: 0.55rem;
            display: flex;
            justify-content: space-between;
            line-height: 0.75rem;
            background-color: #eee;
            align-items: center;

            .send {
                color: #ccc;

                &.send_active {
                    color: rgb(0, 127, 255)
                }
            }

        }

        .comment_text {
            outline: none;
            border: none;

            &:hover {
                box-shadow: none;
                border: none !important;
            }
        }
    }
}