.home_conetent_wrap {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 16px;
  padding-top: 123px;
  background-color: #eee;

  .home_content {
    width: 62.5vw;
    margin: 25px auto 0 auto;

    .carousel {
      width: 62.5vw;
      height: 350px;
      margin: 0 auto 10px auto;

      .carouselImg {
        width: 62.5vw;
        height: 350px;
        border-radius: 10px;
      }
    }

    .list_item {
      background-color: #fff;
      display: flex;
      border-bottom: 1px solid #ddd;
      padding: 25px 50px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      transition: all 0.3s linear;

      &:hover {
        transform: translateY(-3px);

        .img_wrap {
          .img {
            filter: brightness(120%);
            transform: scale(1.1);
          }
        }
      }

      .title,
      .author {
        color: #1da57a;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .title {
        font-size: 24px;
      }

      .img_wrap {
        width: 250px;
        height: 150px;
        // border-radius: 10px;
        margin-left: 50px;
        cursor: pointer;
        overflow: hidden;

        .img {
          width: 250px;
          height: 150px;
          border: none;
          // border-radius: 10px;
          transition: all 2s linear;
          overflow: hidden;
        }
      }

      .list_item_left {
        width: 600px;

        .title {
          margin-bottom: 0;
        }

        .top_title {
          display: flex;
          align-items: center;
          margin-bottom: 15px;

          .path {
            display: inline-block;
            padding: 0px 5px;
            cursor: pointer;
            margin-right: 10px;
            background-color: #d9534f;
            color: #fff;
            font-size: 14px;
            position: relative;

            &:after {
              display: inline-block;
              content: '';
              position: absolute;
              right: -8px;
              top: 6px;
              width: 0px;
              height: 0px;
              border-width: 4px;
              border-style: solid;
              border-color: transparent transparent transparent #d9534f;
            }

            &:hover {
              background-color: #d33632;

              &:after {
                border-color: transparent transparent transparent #d33632;
              }
            }
          }
        }

        .desc {
          margin-top: 14px;
          color: #999;

          span {
            padding-right: 20px;
          }

          .icon {
            margin-right: 5px;
            color: #999;

            &.active {
              color: #f78585;
            }
          }

          .viewCount {
            cursor: pointer;
            color: #1da57a;

            &.thumbs {
              color: #f78585;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .home_conetent_wrap {
    overflow: hidden;
    padding-top: 0.55rem;
    padding-bottom: 0.6rem;
    font-size: 0.14rem;

    .home_content {
      width: 100%;
      margin-top: 0.04rem;

      .carousel {
        width: 3.375rem;
        height: 1.5rem;
        margin-bottom: 0.02rem;

        .carouselImg {
          width: 3.375rem;
          height: 1.5rem;
        }
      }

      .list_item {
        display: flex;
        border-bottom: 1px solid #ddd;
        padding: 0rem 0 0 0;

        .title {
          font-size: 0.18rem;
        }

        .img_wrap {
          width: 1.3rem;
          height: 0.8rem;
          margin-left: 0.2rem;

          .img {
            width: 1.3rem;
            height: 0.8rem;
          }
        }

        .list_item_left {
          width: 100%;
          padding: 0.1rem 0.1rem;

          .desc {
            margin-top: 0.14rem;

            span {
              padding-right: 0.14rem;
            }
          }
        }
      }
    }
  }
}