.article_sider {
    height: 100vh;
    overflow: auto;
    background: #404040;
    color: #f2f2f2;
    font-size: 15px;

    .back_home_btn {
        width: 80%;
        padding: 15px 0px;
        text-align: center;
        margin: 30px auto 18px auto;
        border: 1px solid #ec7259;
        border-radius: 20px;
        color: #ec7259;
        cursor: pointer;
    }

    .add_article {
        .add_article_p {
            // color: #fff;
            margin-bottom: 15px;
            padding-left: 10px;
            cursor: pointer;
        }

        .add_article_form {
            width: 80%;
            margin: 0 auto 25px auto;
            height: 75px;
            // opacity: 1;
            overflow: hidden;
            transition: height .2s;

            .article_name_input {
                height: 35px;
                color: #ccc;
                background-color: #595959;
                border: 1px solid #333;
                padding: 4px 6px;
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 20px;
            }

            .add_article_confirm {
                justify-content: flex-start;
                margin-bottom: 10px;
                display: flex;
                align-items: center;

                .submit_btn {
                    // width: 50px;
                    text-align: center;
                    height: 30px;
                    line-height: 20px;
                    padding: 4px 12px;
                    color: #42c02e;
                    border: 1px solid #42c02e;
                    border-radius: 15px;
                    margin-right: 15px;
                    cursor: pointer;
                }

                .cancel_word {
                    color: #999;

                    &:hover {
                        color: #666;
                    }
                }
            }
        }

        .add_article_form_hide {
            height: 0;
            opacity: 0;
            overflow: hidden;
            margin: 0 auto;
            transition: all .3s;
        }
    }

    .menu_wrap {
        .menu_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 45px;
            // padding: 0 25px;
            padding-right: 15px;
            cursor: pointer;

            .menu_text {
                width: 100%;
                height: 100%;
                padding-left: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            // color: #fff;
            &.menu_item_active {
                background-color: #666;
                border-left: 3px solid #ec7259;
            }
        }

        .tLoader {
            height: calc(100vh - 160px);
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
                /*隐藏滚轮*/
                display: none;
            }
        }
    }
}

.Divider {
    margin: 0;
}

:global {
    .ant-popover {
        .ant-popover-inner-content {
            padding: 0;
        }

        .popoverLi_item {
            height: 40x;
            line-height: 40px;
            padding: 0 50px 0 25px;
            cursor: pointer;

            &:hover {
                background-color: #666;
                // color: #fff;
            }

            .anticon {
                margin-right: 10px;
            }
        }
    }

    @pullingMsg: '下拉刷新';
    @pullingEnoughMsg: '松开刷新';
    @refreshingMsg: '正在刷新...';
    @refreshedMsg: '刷新成功';
    @loadingMsg: '正在加载...';
    @btnLoadMore: '加载更多';

    .tloader-msg:after {
        .state-pulling & {
            content: @pullingMsg
        }

        .state-pulling.enough & {
            content: @pullingEnoughMsg;
        }

        .state-refreshed & {
            content: @refreshedMsg;
        }
    }

    .tloader-loading:after {
        // content: @loadingMsg;

        .tloader-symbol & {
            content: @refreshingMsg;
        }
    }

    .tloader-btn:after {
        content: @btnLoadMore;
    }

    .tloader .tloader-btn:after {
        // content: 'Load More';
    }
}