.me_wrap {
    padding-top: 145px;

    .me_content_wrap {
        width: 62.5vw;
        margin: 0 auto;
        background-color: #fff;

        .me_content {
            padding-top: 32px;

            .basic_content {
                text-align: center;
                font-size: 15px;
                color: #555;
                font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 700;
                padding-bottom: 30px;

                .name {
                    font-size: 20px;
                }

                .avator {
                    width: 150px;
                    height: 150px;
                    margin: 10px auto 20px auto;
                    background: url('../../assets/images/me.png') no-repeat;
                    background-size: cover;
                }
            }

            .contract_me_wrap {

                .contract_me_ul {
                    width: 900px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 0 30px 0;

                    .icon_li {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}