.sponsor_wrap {
    padding-top: 145px;

    .sponsor_content_wrap {
        width: 62.5vw;
        margin: 0 auto;
        background-color: #fff;

        .sponsor_content {
            padding-top: 32px;

            .alipay_method {
                text-align: center;
                font-size: 16px;
                font-family: "Microsoft Yahei";
                font-weight: 700;

                .alipay_img {
                    width: 270px;
                    margin: 10px auto 20px auto;
                }
            }

            .wechat_method {
                text-align: center;
                font-size: 16px;
                font-family: "Microsoft Yahei";
                font-weight: 700;

                .wechat_pay_list {
                    padding: 20px 0;
                    display: flex;
                    width: 900px;
                    margin: 0 auto;
                    justify-content: space-between;

                    .wechat_pay_li {
                        width: 200px;
                        height: 410px;
                        background: url(../../assets/images/ui-phone.png) no-repeat 100% 100%;
                        position: relative;

                        .li_a {
                            display: block;
                            width: 165px;
                            height: 294px;
                            overflow: hidden;
                            position: absolute;
                            top: 60px;
                            left: 22px;
                            color: #555;
                            padding-top: 30px;
                            background-color: #eee;

                            &:hover {
                                .wechat_img {
                                    transform: scale(1.2);
                                }

                                .grey {
                                    opacity: 0;
                                }
                            }


                            .wechat_img {
                                width: 100px;
                                margin: 40px auto 30px auto;
                                transition: all 1s linear;
                            }

                            .grey {
                                display: block;
                                width: 165px;
                                height: 294px;
                                background: rgba(0, 0, 0, .5);
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                transition: all 0.3s linear;
                            }
                        }
                    }

                    &:hover {
                        .li_a .grey {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}