// bottom
.outer_wrap {
    .top_search {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 500;
        background: #eee;

        .search_input {
            height: 40px;
            width: 90%
        }

        &.back_top_search {
            .search_input {
                width: 60%
            }
        }
    }

    .bottom_wrap {
        height: 0.55rem;
        width: 100vw;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 9000;
        background: #fff;
        border-top: 1px solid #ddd;
        display: flex;
        padding: 0.2rem;
        justify-content: space-between;
        align-items: center;
        font-size: 0.12rem;

        .bottom_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &.bottom_item_active {
                color: red;

                .icon {
                    color: red;
                }
            }

            .icon {
                font-size: 25px;
                color: #666464;
            }
        }
    }
}