.home_top_wrap {
    width: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background: #eee;


    .home_top_title {
        width: 100%;
        background: #fff;

        .home_top {
            width: 77vw;
            margin: 0 auto;
            // padding: 0 100px 0 320px;
            display: flex;
            height: 86px;
            align-items: center;
            background: #fff;
            // background: #fff url('../assets/images/logo.jpg') no-repeat 100px 0;
            // background-size: 77px 55px;
            // border-bottom: 1px solid #ddd;

            .logo {
                width: 20.71vw;
                height: 86px;
                background: url('../assets/images/logo.jpg') no-repeat;
                background-size: 100% 100%;
                margin-right: 0px;
                float: left;

                h1 a {
                    display: block;
                    width: 20.71vw;
                    height: 86px;
                    text-indent: -9999px;
                }
            }


            .header_menu {
                flex: 1;
                float: left;
                height: 100%;

                .header_menu_li {
                    float: left;
                    cursor: pointer;
                    position: relative;

                    .sub_menu_ul {
                        position: absolute;
                        width: 100%;
                        z-index: 200;
                        text-align: center;
                        color: #fff;
                        top: 70px;
                        transform: translateY(-100%);
                        opacity: 0;

                        .sub_menu_li {
                            line-height: 34px;
                            background-color: #1DA57A;
                            margin-bottom: 3px;
                            font-size: 14px;
                            opacity: 0;
                            text-align: left;
                            padding-left: 24px;
                            transform: translateY(20px);
                            transition: all 0.3s linear;

                            &.sub_menu_li_active {
                                background: #445552;
                            }
                        }

                    }

                    &:hover {
                        .sub_menu_ul {
                            transform: translateY(0);
                            opacity: 1;

                            .sub_menu_li {
                                opacity: 1;
                                transform: translateY(0px);
                                font-size: 16px;
                                background-color: #3db389;
                                // -webkit-animation-duration: 0.75s;
                                animation-duration: 0.75s;
                                // -webkit-animation-name: flipInY;
                                animation-name: flipInY;

                                &:nth-of-type(1),
                                &:last-of-type {
                                    animation-delay: 0.4s
                                }

                                &:nth-of-type(2),
                                &:nth-last-of-type(2) {
                                    animation-delay: 0.3s
                                }

                                &:nth-of-type(3),
                                &:nth-last-of-type(3) {
                                    animation-delay: 0.2s
                                }

                                &.sub_menu_li_active {
                                    background: #445552;
                                }
                            }
                        }
                    }

                    &:nth-of-type(3) {
                        &:hover {
                            .sub_menu_ul {
                                transform: translateY(0);
                                opacity: 1;

                                .sub_menu_li {
                                    opacity: 1;
                                    transform: translateY(0px);
                                    font-size: 16px;
                                    background-color: #3db389;
                                    // -webkit-animation-duration: 0.75s;
                                    animation-duration: 0.75s;
                                    // -webkit-animation-name: flipInY;
                                    animation-name: bounceIn;

                                    &.sub_menu_li_active {
                                        background: #445552;
                                    }
                                }
                            }
                        }
                    }

                    &.header_menu_li_active {
                        color: #1DA57A;
                    }

                    .a {
                        display: block;
                        height: 86px;
                        line-height: 86px;
                        padding: 0 25px;
                        overflow: hidden;
                        font-size: 18px;

                        &:hover {
                            .chineseName {
                                transform: translateY(-86px);
                            }

                            .englishName {
                                transform: translateY(-86px);
                            }
                        }

                        .chineseName {
                            display: block;
                            transition: all .3s linear;
                        }

                        .englishName {
                            display: block;
                            transition: all .3s linear;
                        }
                    }

                    &:hover {
                        color: #1DA57A;
                    }
                }
            }
        }
    }

    .welcom_wrap {
        width: 62.5vw;
        margin: 10px auto;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 25px;

        .welcom_left {
            display: flex;
            align-items: center;
            font-size: 14px;
            width: 240px;
            overflow: hidden;

            .sound {
                margin-right: 5px;
            }

            .ani {
                animation: toTop 1.5s linear infinite;
            }
        }

        .right_top {
            display: flex;
            align-items: center;

            .Avatar {
                width: 40px;
                height: 40px;
                border-radius: 100% 100%;
            }

            .btn {
                margin-left: 20px;
            }

            .login_btn {
                cursor: pointer;
                color: #666;
                font-size: 14px;

                &:hover {
                    color: #999;
                }
            }
        }
    }

    .fx {
        position: fixed;
        top: 150px;
        right: 0;
        width: 40px;

        .common_div {
            width: 40px;
            height: 40px;
            border: 1px solid #ccc;
            margin-bottom: 3px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover i {
                opacity: 1;
                transition: all .5s linear;
            }

            .common_i {
                position: absolute;
                top: 0;
                left: -90px;
                display: block;
                width: 80px;
                height: 80px;
                border: 1px solid #ccc;
                background-size: 100% 100%;
                background-position: center center;
                opacity: 0;
            }

            &:last-of-type {
                .common_i {
                    display: none;
                }
            }
        }
    }

    .rote_wrap {
        width: 100px;
        height: 300px;
        transform-style: preserve-3d;
        position: fixed;
        left: 100px;
        bottom: 100px;
        z-index: 9000;
        animation: go 25s linear infinite;

        img {
            width: 100px;
            height: 300px;
            position: absolute;
            top: 0;
            left: 0;

            &:nth-child(1) {
                transform: rotateY(0deg) translateZ(100px);
            }

            &:nth-child(2) {
                transform: rotateY(60deg) translateZ(100px);
            }

            &:nth-child(3) {
                transform: rotateY(120deg) translateZ(100px);
            }

            &:nth-child(4) {
                transform: rotateY(180deg) translateZ(100px);
            }

            &:nth-child(5) {
                transform: rotateY(240deg) translateZ(100px);
            }

            &:nth-child(6) {
                transform: rotateY(300deg) translateZ(100px);
            }

            &:nth-child(7) {
                transform: rotateY(0deg) translateZ(100px);
            }
        }

    }
}


@media screen and (max-width: 450px) {
    .home_top {
        background: #fff;
        padding: 0 0.2rem 0 0.2rem;

        .left_top {
            .r60 {
                padding-right: 0.2rem;
            }
        }
    }
}


@keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes toTop {
    from {
        transform: translateX(0)
    }

    // 50% {
    //     transform: translateX(50%)
    // }

    to {
        transform: translateX(200%)
    }
}

@keyframes go {
    0% {
        transform: rotateX(0deg) rotateY(360deg);
    }

    25% {
        transform: rotateX(5deg) rotateY(720deg);
    }

    50% {
        transform: rotateX(0deg) rotateY(1080deg);
    }

    75% {
        transform: rotateX(-5deg) rotateY(1440deg);
    }

    100% {
        transform: rotateX(5deg) rotateY(1800deg);
    }
}