@import './animate.css';

/* reset */
body,
html,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
dt,
form,
fieldset,
legend,
input,
textarea,
select,
img {
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  font: 12px '微软雅黑';
  color: #333;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: 100;
}

i,
em {
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  border: 0;
}

input {
  outline: none;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}

.c-666464 {
  color: #666464;
}

.underline:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  color: #464c5b;
  font-size: 14px;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ecf0f5;
  box-sizing: border-box;
}

.w100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.common_title {
  border-bottom: 1px solid #ddd;
  height: 56px;
  line-height: 67px;
  font-size: 20px;
  font-weight: 700;
  padding-left: 25px;
}

.common_p {
  font-size: 18px;
  // border-left: 4px solid #00a67c;
  background-color: #fbfbfb;
  font-weight: 700;
  padding: 12px 0;
  margin-bottom: 20px;
  text-align: center;
  color: #555;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #00a67c
  }
}

code {
  background: #eee;
  padding: 20px;
  border-radius: 5px;
}

.top_back {
  position: fixed;
  width: 100vw;
  height: 0.45rem;
  line-height: 0.45rem;
  background-color: #eee;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 2;
}

.icon_back {
  position: absolute;
  left: 0.2rem;
  top: 0.18rem;
  cursor: pointer;
}

/* react animate class */
/*这里定义整个应用加载时的动画，进场前这里设置了缩放为0，
进场过程中缩放变为1，也就是100%，持续时间为500ms，
时间曲是ease-out，一种先快后慢的变化曲线*/

.appAppear-appear {
  opacity: 0;
  transform: scale(0);
}

.appAppear-appear.appAppear-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: 500ms ease-out;
}

/*设置进场前透明度为0，防缩为0*/

.fade-enter {
  opacity: 0;
  transform: scale(0);
}


/*设置进场过程中 透明度为1，防缩为1，放缩的位置为左上角，持续时间为500ms，时间曲是ease-out */
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transform-origin: top left;
  transition: 500ms ease-out;
}

/*设置退场前透明度为1，防缩为1*/
.fade-exit {
  opacity: 1;
  transform: scale(1);
}

/*设置退场过程中 透明度为0，防缩为0，放缩的位置默认是中间，所以不设置也可以，
持续时间为500ms，时间曲是ease-out */
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: 500ms ease-out;
}

.ant-divider-horizontal {
  margin: 0
}

.bf-container .bf-content {
  background-color: #fff;
  height: calc(100vh - 270px);
}

.bf-controlbar .control-item {
  line-height: 36px;
}

.ant-checkbox-wrapper-disabled .ant-checkbox-disabled {
  display: none;
}

@media screen and (max-width: 450px) {
  .home_wrap {
    width: 100%
  }

  .image-wrap .image-wrap {
    width: 3rem !important;
    height: 2rem;
  }
}


@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
}

// 这里是点赞的动画 +1
.i {
  opacity: 0;
  transition: all 0.4s linear;
  position: absolute;

  &.slideInUp {
    animation: slideInUp 0.4s linear;
  }
}