.message_content {
    width: 62.5vw;
    margin: 0 auto;
    background-color: #fff;

    .do_comment_wrap {

        .owner_title {
            background-color: #f7f7f7;
            padding: 12px 20px; // padding: 12px 20px;
            margin: 25px 0 20px 0;
            font-size: 16px;
            color: #bbb;

            .Avatar {
                width: 40px;
                height: 40px;
                border-radius: 100% 100%;
                margin-right: 10px;
            }

            .name {
                margin-right: 10px;
                color: #666;
            }

            .cancel_btn {
                float: right;
                cursor: pointer;

                &:hover {
                    color: #666;
                }
            }
        }

        &.border {
            border: 1px solid #ddd;
            padding-bottom: 15px;
            margin-bottom: 10px;

            .owner_title {
                margin-top: 0
            }
        }

        .write_wrap {
            padding: 0 25px;
            text-align: right;

            .btn {
                margin-top: 10px;
            }
        }
    }

    .comment_list_wrap {
        padding-bottom: 20px;

        .pagination {
            text-align: center;
            padding-top: 10px;
        }

        .total_count {
            font-size: 15px;
            padding: 12px 20px;
            line-height: 14px;
            color: #5fbaac;
            font-weight: 400;
            border-bottom: 1px solid #dbece8;
        }

        .comment_list_ul {
            width: 100%;
            padding: 0 25px;

            .list_li {
                display: flex;
                margin-bottom: 15px;

                .Avatar {
                    margin-right: 10px;
                }

                .comment_right {
                    background: #fbfdfb;
                    border: 1px #eee solid;
                    padding: 10px 15px;
                    line-height: 25px;
                    font-size: 15px;
                    flex: 1;

                    span {
                        color: #bbb;
                        font-size: 14px;
                        margin-right: 10px;
                    }

                    .answer_btn {
                        cursor: pointer;
                        color: #00a67c;

                        &:hover {
                            color: #1DA57A;
                        }
                    }

                    .delete_btn {
                        cursor: pointer;
                        color: #d9534f;

                        &:hover {
                            color: red
                        }
                    }
                }
            }

            li {
                line-height: 26px;

                .Avatar {
                    width: 40px;
                    height: 40px;
                }

                ul {
                    padding-left: 49px;
                }
            }
        }
    }
}


@media screen and (max-width: 450px) {
    .message_content {
        width: 100%;

        .do_comment_wrap {

            .owner_title {
                padding: 0.12rem 0.2rem; // padding: 12px 20px;
                margin: 0.25rem 0 0.2rem 0;
                font-size: 0.16rem;

                .Avatar {
                    width: 0.4rem;
                    height: 0.4rem;
                    margin-right: 0.1rem;
                }

                .name {
                    margin-right: 0.1rem;
                }
            }

            &.border {
                padding-bottom: 0.15rem;
                margin-bottom: 0.1rem;
            }

            .write_wrap {
                padding: 0 0.25rem;

                .btn {
                    margin-top: 0.1rem;
                }
            }
        }

        .comment_list_wrap {
            padding-bottom: 0.2rem;

            .pagination {
                padding-top: 0.1rem;
            }

            .total_count {
                font-size: 0.15rem;
                padding: 0.12rem 0.2rem;
                line-height: 0.14rem;
            }

            .comment_list_ul {
                padding: 0 0.1rem;

                .list_li {
                    margin-bottom: 0.15rem;

                    .Avatar {
                        margin-right: 0.1rem;
                    }

                    .comment_right {
                        padding: 0.1rem 0.1rem;
                        line-height: 0.25rem;
                        font-size: 0.15rem;

                        span {
                            font-size: 0.14rem;
                            margin-right: 0.05rem;

                            &.delete_btn {
                                margin-right: 0rem;
                            }
                        }
                    }
                }

                li {
                    line-height: 0.26rem;

                    .Avatar {
                        width: 0.4rem;
                        height: 0.4rem;
                    }

                    ul {
                        padding-left: 0.2rem;
                    }
                }
            }
        }
    }
}