.verify_wrap {
    width: 62.5vw;
    padding-top: 165px;
    margin: 0 auto;

    .top_line {
        display: flex;
        justify-content: space-between;
        padding-right: 100px;
    }

    .list_wrap {
        display: flex;
        font-size: 14px;

        .menu_item {
            margin-right: 10px;
            margin-left: 10px;
            color: #0073aa;
            position: relative;
            cursor: pointer;

            &:hover {
                color: #00a0d2;
            }

            &:nth-of-type(1) {
                margin-left: 0px;
            }

            &:after {
                content: '';
                display: block;
                width: 1px;
                height: 15px;
                background: #ddd;
                position: absolute;
                top: 2px;
                right: -10px;
            }

            &:last-of-type {
                &:after {
                    display: none;
                }
            }

            &.menu_item_active {
                color: #333
            }
        }
    }

    .table {
        margin-top: 10px;

        .title_span {
            color: #0073aa;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                color: #00a0d2;
            }
        }
    }

    .table_mr5 {
        margin-right: 10px;
    }
}